@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

:root {
  --bg-body: #121212;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Jura, Arial, Helvetica, sans-serif;
  background-color: var(--bg-body);
  color: white;
}

section {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  scroll-snap-align: start;
}

/* *** Header *** */

nav img {
  width: 200px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  opacity: 0.9;
  align-items: center;
  border-radius: 7px 7px 0px 0px;
  padding: 6px;
  margin-top: 2rem;
  width: 100%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.247);
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  font-size: 1em;
  font-weight: 550;
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.progress-container {
  width: 100%;
  height: 8px;
}
.progress-bar {
  height: 5px;
  background: #04aa6d;
  width: 0%;
  border-radius: 0px 0px 4px 4px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* *** Map *** */

#map {
  height: 50%;
  width: 80%;
  justify-content: center;
}
.map-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-widh: 700px) {
  .navbar {
    display: none;
  }
}

/* *** Footer *** */

footer {
  width: 100%;
  background: linear-gradient(to right, rgb(9, 126, 28), rgb(1, 20, 6));
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;

  scroll-snap-align: start;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 20%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
  color: #fff;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #ccc;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 700px) {
  footer {
    bottom: unset;
  }

  .col {
    flex-basis: 100%;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}

/* *** Swiper *** */

.swiper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.swiper-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  position: relative;
}

.swiper-slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.swiper-pagination-bullet-active {
  background-color: #04aa6d;
}

.swiper-button-next,
.swiper-button-prev {
  color: #04aa6d;
}

.swiper-scrollbar-drag {
  background-color: #04aa6d;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* *** Services *** */

.services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding-inline: 2rem;
  padding-top: 7rem;

  position: relative;
}

.services .back {
  cursor: pointer;
  padding: 1rem;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
}

.services .back svg {
  fill: #ff6900;
  width: 20px;
}

.client-type {
  min-width: 200px;
  width: 30%;
  height: 90%;
  display: grid;
  place-items: center;
  border-radius: 10px;

  position: relative;
  transition: all 0.4s ease-in-out;
}

.client-type::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  filter: grayscale(1);
  z-index: -1;

  transition: all 1s ease-in-out;
}

.client-type:nth-child(2)::before {
  background-image: url("./src/jonathan-borba-zW4i9Q6CdY0-unsplash.jpg");
}

.client-type:nth-child(3)::before {
  background-image: url("./src/pro_fr.jpg");
}

.client-type:nth-child(4)::before {
  background-image: url("./src/jonathan-borba-zW4i9Q6CdY0-unsplash.jpg");
}

.client-type:hover,
.client-type[data-clicked] {
  scale: 1.02;
}

.client-type:hover::before,
.client-type[data-clicked]::before {
  filter: grayscale(0);
}

.client-type:hover button,
.client-type[data-clicked] button {
  background-color: rgba(255, 105, 0, 0.8);
  color: white;
  filter: blur(50);
}

.client-type button {
  cursor: pointer;

  padding: 1rem 1em;
  font-size: clamp(0.125rem, 0.125vw + 1rem, 1.125rem);
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 150, 95, 0.8);
  border: none;
  filter: blur(200);
  transition: all 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
}

.client-type button:hover,
.client-type[data-clicked] button {
  scale: 1.05;
  gap: 1rem;
}

.client-type button:hover svg,
.client-type[data-clicked] button svg {
  width: 20px;
  opacity: 1;
  scale: 1;
}

.client-type button svg {
  width: 0px;
  opacity: 0;
  scale: 0;
  transition: all 0.3s ease-in-out;
}

.client-type button svg path {
  fill: white;
}

.services-container {
  width: 50%;
  height: 90%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  display: none;

  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.service {
  width: 100%;
  height: 50%;
  display: none;
  place-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.service:hover {
  scale: 1.05;
}

.service:hover a {
  background-color: #ff6900;
}

.service a {
  background-color: #04aa6d;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.fade-in {
  animation: anim-fade-in 0.4s ease-in-out forwards;
}

.fade-out {
  animation: anim-fade-out 0.4s ease-in-out forwards;
}

.translate-one {
  animation: anim-translateX-one 0.4s ease-in-out forwards;
}

.translate-two {
  animation: anim-translateX-two 0.4s ease-in-out forwards;
}

@media only screen and (max-width: 730px) {
  .services {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .client-type {
    width: 100%;
  }

  .services-container {
    width: 100%;
  }

  .translate-one {
    animation: anim-translateY-one 0.4s ease-in-out forwards;
  }

  .translate-two {
    animation: anim-translateY-two 0.4s ease-in-out forwards;
  }
}

@keyframes anim-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anim-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes anim-translateX-one {
  to {
    transform: translateX(-100%);
  }
}

@keyframes anim-translateX-two {
  to {
    transform: translateX(-210%);
  }
}

@keyframes anim-translateY-one {
  to {
    transform: translateY(-100%);
  }
}

@keyframes anim-translateY-two {
  to {
    transform: translateY(-210%);
  }
}

/* *** Values *** */

.values-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.values-section h2 span,
.values-section h3 {
  font-weight: 400;
}

.values-section h2 {
  font-size: clamp(1.5rem, 2.5vw + 1rem, 3rem);
}

.values-section h3 {
  font-size: clamp(1.125rem, 2vw + 1rem, 2.125rem);
}

.values-section h3 span {
  color: #ff6900;
}

.values-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  margin-top: 2rem;
}

.value {
  border: solid 2px #04aa6d;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.value svg {
  width: 20%;
}

@media screen and (max-width: 970px) {
  .values-section {
    padding-top: 6rem;
    height: auto;
  }
}

/* *** Testimonials ***  */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.testimonials .swiper {
  height: 50%;
}

.testimonials .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;
  text-align: center;
}

.testimonials .swiper-slide span {
  color: #ff6900;
}

.testimonials .swiper-slide blockquote span {
  font-size: 2rem;
}

@media only screen and (max-width: 750px) {
  .testimonials .swiper-slide {
    padding: 4rem;
  }
}

/* *** Chatbot *** */

.chatbot {
  position: fixed;
  right: 0%;
  bottom: 20%;
  width: 50px;
  height: 10%;

  z-index: 1000;
}

.chatbot:hover .chatbot-container {
  background-color: #121212;
}

.chatbot:hover svg {
  fill: #04aa6d;
}

.chatbot-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 170, 109, 0.3);
  border-radius: 5px 0 0 5px;
  gap: 1rem;
  transition: all 0.4s ease-in-out;
}

.chatbot button {
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding-block: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.chatbot button svg {
  width: 25px;
  fill: #ff6900;
}

.chatbot .phone-btn {
  border-block: solid 1px #ff6900;
  padding-inline: 0.5rem;
}

.chatbot .chat-btn svg {
  width: 30px;
}

.chatbot button:hover {
  scale: 1.2;
}

.chatbot button:hover svg {
  fill: #ff6900;
}
