@use "../abstracts" as *;

header {
  position: fixed;
  top: 0rem;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 10%;
  padding: 1.6rem;
  background-color: $clr-bg-header-dark;
  box-shadow: $shadow-header-dark;
  z-index: 100;
  font-size: clamp(0.5rem, 0.3vw + 1rem, 2rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 720px) {
    padding-inline: 0.5rem;
  }

  .logo-header {
    background-color: transparentize($color: #fff, $amount: 0.4);
    border-radius: 10px;
    padding: 1rem;

    & {
      @media only screen and (max-width: 720px) {
        width: 50px;
      }
    }

    & svg {
      width: 100%;
    }
  }

  & nav {
    width: fit-content;

    & ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      list-style: none;

      & li > * {
        transition: all 0.4s ease-in-out;
      }

      & li > *:hover,
      & li > *:active,
      & li > *:focus {
        cursor: pointer;
        color: $clr-secondary;
      }

      & li select option {
        appearance: none;
        color: $clr-secondary;
      }

      & li .link-devenir-client {
        background-color: #fe790d;
        color: white;
        padding: 8px;
        border-radius: 3px;
        box-shadow: 0 0 15px 0#FE790D;
        border: none;
        cursor: pointer;

        &:hover {
          scale: 1.2;
          box-shadow: 0 0 35px 0#FE790D;
        }
      }
    }
  }

  .header-right-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & select {
      color: $clr-secondary;
      cursor: pointer;
    }

    & .themeBtn {
      width: 4rem;
      height: 4rem;
      background-image: url("../../assets/images/dark-icon.svg");
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      background-color: $clr-primary;
      cursor: pointer;
      border: none;
      transition: all 0.4s ease-in-out;

      @media only screen and (max-width: 720px) {
        width: 2rem;
        height: 2rem;
      }

      &:hover {
        background-color: $clr-secondary;
      }
    }

    .search-container {
      position: relative;
      width: 4rem;
      height: 4rem;
      display: grid;
      place-items: center;
      cursor: pointer;

      &:hover input {
        background-color: $clr-secondary;
      }

      @media only screen and (max-width: 720px) {
        width: 2rem;
        height: 2rem;
      }

      input {
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: $clr-primary;
        border: none;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
      }

      svg {
        width: 2.5rem;
        position: absolute;

        @media only screen and (max-width: 720px) {
          width: 1.2rem;
        }
      }
    }
  }
}
