@use "../abstracts" as *;

header {
  position: fixed;
  top: 0rem;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 10%;
  padding: 1.6rem;
  background-color: $clr-bg-header-dark;
  box-shadow: $shadow-header-dark;
  z-index: 100;
  font-size: clamp(0.5rem, 0.5vw + 1rem, 2rem);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-header {
    background-color: transparentize($color: #fff, $amount: 0.4);
    border-radius: 10px;
    padding: 1rem;
    svg {
      width: clamp(70%, 50vw, 100%);
    }
  }

  nav {
    width: 20%;

    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      list-style: none;

      li > * {
        transition: all 0.4s ease-in-out;
      }
      li > *:hover,
      li > *:active,
      li > *:focus {
        cursor: pointer;
        color: $clr-secondary;
      }

      li select option {
        appearance: none;
        color: $clr-secondary;
      }
    }
  }

  .header-right-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .search-container {
      position: relative;
      width: 4rem;
      height: 4rem;
      display: grid;
      place-items: center;

      @media only screen and (max-width: 720px) {
        width: 2rem;
        height: 2rem;
      }

      input {
        width: inherit;
        height: inherit;
        position: absolute;
        background-color: $clr-primary;
        border: none;
        border-radius: 5px;
      }

      svg {
        width: 2.5rem;
        position: absolute;

        @media only screen and (max-width: 720px) {
          width: 1.2rem;
        }
      }
    }
  }
}
